<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <form method="post" enctype="multipart/form-data" action="/contact">
            שם <input type="text" name="Name" id="Name" /><br />
            דואר אלקטרוני<input type="text" name="Email" id="Email" /><br />
            טלפון <input type="text" name="Tel" id="Tel" /><br />
            קורות חיים<input type="file" name="ProfileCv" id="ProfileCv" multiple/><br />
                       
            <button type="submit" name="BtnProfile" id="BtnProfile">שלך פרופיל </button>
       </form>









           
    </body>
</html>